---

---

<div class="flex flex-row gap-2">
  <button id="locale-uk">ChangeLocale to uk</button>
  <button id="locale-en">ChangeLocale to en</button>
</div>

<script>
  import { setLocale } from "@/paraglide/runtime.js";

  document?.querySelector("#locale-uk")?.addEventListener("click", () => {
    setLocale("uk");
  });

  document?.querySelector("#locale-en")?.addEventListener("click", () => {
    setLocale("en");
  });
</script>
