---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import generateSeoData from "@/utils/seo";
import { SEO } from "astro-seo";
import ProgressBar from "astro-vtbot/components/ProgressBar.astro";
import i18n from "i18next";

const { pathname } = Astro.url;

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const seo = generateSeoData({
  title,
  description,
  pathname,
  locale: i18n.language,
});
---

<!doctype html>
<html lang={i18n.language}>
	<head>
		<SEO {...seo} />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
		<ProgressBar />
	</head>

	<body>
		<slot />
	</body>
</html>

<script src="../../node_modules/preline/preline.js"></script>
<script>
	document.addEventListener("astro:page-load", async () => {
		const preline = await import("preline/dist/preline.js");
		preline.HSStaticMethods.autoInit();
	});
</script>
