---
import { twMerge } from "tailwind-merge";

interface Props {
  href: string;
  target?: "_blank" | "_self";
  label: string;
  className?: string;
}

const { href, target = "_self", label, className } = Astro.props;
---

<a
  type="button"
  href={href}
  target={target}
  data-aos="fade-right"
  data-aos-anchor-placement="top-bottom"
  data-aos-delay="200"
  class={twMerge(
    "w-min py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primary text-white hover:bg-primary-700 focus:outline-none focus:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none duration-300",
    className
  )}
>
  <span class="text-nowrap">{label}</span>
  <slot />
</a>
